.card {

background:#020617;

padding:25px;

border-radius:14px;

border:1px solid #1e293b;

transition:.3s;

}

.card:hover {

transform:translateY(-6px);

border-color:#3b82f6;

}



.architecture-card {

background:#020617;

padding:30px;

border-radius:14px;

border:1px solid #1e293b;

transition:.3s;

}



.architecture-card:hover {

border-color:#3b82f6;

transform:scale(1.03);

}



.project-card {

display:flex;

align-items:center;

justify-content:center;

height:150px;

background:#020617;

border-radius:14px;

border:1px solid #1e293b;

transition:.3s;

font-weight:bold;

}



.project-card:hover {

transform:translateY(-8px);

border-color:#3b82f6;

}



.contact-btn {

border:1px solid #3b82f6;

padding:12px 28px;

border-radius:8px;

transition:.3s;

}



.contact-btn:hover {

background:#3b82f6;

}

.skill-info {

background:#020617;

padding:40px;

margin-top:40px;

border-radius:14px;

border:1px solid #3b82f6;

animation:fadeIn .4s ease-in-out;

}



@keyframes fadeIn {

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}
